In [1]:
import pandas as pd
import numpy as np
import random as rd
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn import preprocessing

In [7]:
genes = ['gene_' + str(i) for i in range(1, 101)]

wt = ['wt_' + str(i) for i in range(1, 6)]
ko = ['ko_' + str(i) for i in range(1, 6)]

In [8]:
# the stars unpack the 'wt' and 'ko' arrays so that the column names are a single array that looks like this:
# [wt_1, wt_2, wt_3, wt_4, wt_5, ko_1, ko_2, ko_3, ko_4, ko_5] without the stars we would create an array of two arrays and
# that wouldn't create twelve columns like we want:
# [[wt_1, wt_2, wt_3, wt_4, wt_5], [ko_1, ko_2, ko_3, ko_4, ko_5]]

data = pd.DataFrame(columns=[*wt, *ko], index=genes)
print(data.shape)
data.head()

(100, 10)

       wt_1 wt_2 wt_3 wt_4 wt_5 ko_1 ko_2 ko_3 ko_4 ko_5
gene_1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
gene_2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
gene_3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
gene_4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
gene_5  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN